// PRIMARY COLOR

$sligh-cyan: hsl(167, 36%, 54%);
$dark-cyan: #32a390;
$dark-blue-btn: hsl(205, 41%, 21%);
$dark-blue-logo : #143445;
$g-dark-blue: hsl(245, 10%, 22%);

// SECONDARY COLOR

$bg-color:hsl(0, 0%, 98%);
$light-grey : hsl(240, 2%, 92%);
$bright-red: hsl(0, 90%, 57%);

// TEXT COLOR

$grey-color-txt: #5b5a64;

// TEXT COLOR : HOVER 

$sligh-cyan: hsl(167, 36%, 54%);

// TITLE COLOR + FOOTER COLOR

$g-dark-blue: hsl(245, 10%, 22%);

// FONT TITLE + BODY

$font-title: 'Ibarra Real Nova', Helvetica, Arial, serif;
$font-body: 'Public Sans',Helvetica, Arial, sans-serif;











